html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(18, 18, 18);
}

#nav {
  position: fixed;
  top: 1%;
  left: 1%;
}

#controls {
  color: white;
}

#slide-number > span {
  position: absolute;
  text-align: right;
  width: 30px;
}

#slide-number > div {
  margin-left: 35px;
}

#progress-bar {
  border: 1px solid white;
  margin-bottom: 5px;
  background-color: rgba(0, 255, 0, 0.1);
}

#progress {
  height: 20px;
  background-color: green;
  font-weight: bold;
}

#thumbs > img {
  border: 3px solid rgb(18, 18, 18);
  cursor: pointer;
  vertical-align: middle;
  margin: 1px;
}

#slideshow {
  position: fixed;
  height: 98%;
  right: 1%;
  top: 1%;
}

#slideshow > div {
  position: absolute;
  background-color: rgb(18, 18, 18);
  text-align: center;
  height: 100%;
  width: 100%;
}

.slide {
  position: relative;
  height: 100%;
}



#logo {
  height: 40px;
}
