html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  color: #C0C0C0;
}

#nav {
  position: fixed;
  top: 1%;
  left: 1%;
  height: 98%;
}

#slide-number {
  margin-bottom: 5px;
}

#slide-number > span {
  position: absolute;
  text-align: right;
  width: 30px;
}

#slide-number > div {
  margin-left: 35px;
}

#progress-bar {
  margin: 0 3px 10px;
  background-color: rgba(200, 200, 200, 0.1);
}

#progress {
  height: 20px;
  background-color: #909090;
}

#thumbs > img {
  border: 3px solid #121212;
  cursor: pointer;
  vertical-align: middle;
  margin: 1px;
}

#slideshow {
  position: fixed;
  height: 98%;
  right: 1%;
  top: 1%;
}

#slideshow > div {
  position: absolute;
  background-color: #121212;
  text-align: center;
  height: 100%;
  width: 100%;
}

.slide {
  position: relative;
  height: 100%;
}
