/* Colors 'borrowed' from tailwind.css */
:root {
  --text-gray-700: rgb(55, 65, 81);
  --text-gray-600: rgb(75, 85, 99);
  --text-gray-500: rgb(107, 114, 128);
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 500ms;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("fonts/opensans/OpenSans-Regular-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "OpenSans", -apple-system, sans-serif;
  font-size: 10px;
}

body {
  color: var(--text-gray-700);
  font-size: 1.8rem;
}

h1 {
  font-size: 5rem;
}

h2, h3, h4 {
  color: var(--text-gray-500);
}

h2 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

h3 {
  color: var(--text-gray-700);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

a {
  border-bottom: 0.1em solid;
  display: inline-block;
  margin-bottom: 0.1em;
}

a, a:hover, a:visited, a:focus {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1.8rem;
}

li {
  margin-left: 1.2em;
}

img {
  width: 100%;
}

.wrapper {
  margin: 1.5rem auto;
  min-width: 30rem;
  width: 80rem;
}

.row {
  display: flex;
}

.col {
  margin-right: 1.5rem;
}

.row-sm > .col {
  margin-right: 1rem;
}

.col:last-child {
  margin-right: 0;
}

.v-center-align {
  align-items: center;
}

.v-top-align {
  vertical-align: top;
}

.mb-05 {
  margin-bottom: 0.5em;
}

.mb-lg {
  margin-bottom: 3rem;
}

a.no-underline {
  border: none;
  margin-bottom: none;
}

.muted {
  color: var(--text-gray-500);
}

.icon-md {
  font-size: 3rem;
  width: 3rem;
}

.icon-lg {
  margin: 0 auto;
  width: 6rem;
}

#cv .header-headshot {
  margin: 0 auto;
  width: 12rem;
}

@media (max-width: 900px) {
  .wrapper {
    width: 50rem;
  }
}

@media (max-width: 600px) {
  a {
    display: inline;
  }

  li {
    list-style: inside;
    margin-left: 0;
  }

  ul {
    margin: 0 auto;
    width: 85%;
  }

  .wrapper {
    text-align: center;
    width: 90%;
  }

  .row {
    display: block;
  }

  .row-sm {
    display: inline-flex;
  }

  .col {
    margin-right: 0;
  }

  .mb-lg {
    margin-bottom: 5rem;
  }

  .mb-sm-md {
    margin-bottom: 4rem;
  }

  .icon-lg {
    width: 10rem;
  }

  #cv .header-headshot {
    width: 15rem;
  }
}
