h2 {
  margin-left: 10px;
  font-size: 25px;
}

#navigation {
  top: 0;
  width: 100%;
  position: relative;
}

.nav-element {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

img {
  width: 100%;
}
